export(Dmat)
export(editPed)
export(getA)
export(getAInv)
export(inbreeding)
export(pedigree)
export(relfactor)
export(getASelfing)
exportClasses(pedigree)
useDynLib(pedigreeR,pedigree_chol)
useDynLib(pedigreeR,pedigree_inbreeding)
